<p>[Go Weather Forecast] To get up-to-date with weather, please confirm your link:</p>
<p>
  <a href="<%= confirmation_url %>">Confirm email</a>
</p>

<p>
  If you're having trouble clicking the confirm account button, copy and paste
  the below URL into your web browser.
</p>

<a href="<%= confirmation_url %>"><%= confirmation_url %></a>
